@model MainCategory
<!-- the asp-action Create below refers to teh POST version of the Create controller
        -->
<form method="post" asp-action="Update">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="All"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Main Category</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="CategoryName"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="ImageUrl"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="CategoryDescription"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <textarea asp-for="CategoryDescription" rows="4" cols="55"></textarea>
                        <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-8 mx-auto row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-dark w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}