<!-- the viewdata [title] goes in the tab. this code is use on the title tag
                                              on the _Layout.cshtml-->

@{
    ViewData["Title"] = "What's cooking!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
